# TEORIAT Chess Analysis
Clean, analyze and prepare the dataframe work to be trained

In [19]:
# Setup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from tabulate import tabulate  

# Connect to database
engine = create_engine("postgresql+psycopg2://postgres:chess_engine@localhost/chess_data")
print("Connected to database!")

Connected to database!

## Loading data

In [ ]:
# Load all your data
df = pd.read_sql("SELECT * FROM game_moves", engine)
df.head()

,id,game_id,move_number,ply_number,player_color,move_san,position_before,position_after,is_teoriat_move,teoriat_color,created_at
0,1,141987490528,1,1,white,e4,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,True,white,2025-08-17 15:23:42.236746
1,2,141987490528,1,2,black,d5,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,rnbqkbnr/ppp1pppp/8/3p4/4P3/8/PPPP1PPP/RNBQKBN...,False,white,2025-08-17 15:23:42.236746
2,3,141987490528,2,3,white,exd5,rnbqkbnr/ppp1pppp/8/3p4/4P3/8/PPPP1PPP/RNBQKBN...,rnbqkbnr/ppp1pppp/8/3P4/8/8/PPPP1PPP/RNBQKBNR ...,True,white,2025-08-17 15:23:42.236746
3,4,141987490528,2,4,black,Qxd5,rnbqkbnr/ppp1pppp/8/3P4/8/8/PPPP1PPP/RNBQKBNR ...,rnb1kbnr/ppp1pppp/8/3q4/8/8/PPPP1PPP/RNBQKBNR ...,False,white,2025-08-17 15:23:42.236746
4,5,141987490528,3,5,white,Nc3,rnb1kbnr/ppp1pppp/8/3q4/8/8/PPPP1PPP/RNBQKBNR ...,rnb1kbnr/ppp1pppp/8/3q4/8/2N5/PPPP1PPP/R1BQKBN...,True,white,2025-08-17 15:23:42.236746

In [29]:
# Drop unnecessary columns
columns_to_drop = ["position_before", "position_after", "created_at"]
df.drop(columns=columns_to_drop, inplace=True)

# Display the cleaned
df

,id,game_id,move_number,ply_number,player_color,move_san,is_teoriat_move,teoriat_color
0,1,141987490528,1,1,white,e4,True,white
1,2,141987490528,1,2,black,d5,False,white
2,3,141987490528,2,3,white,exd5,True,white
3,4,141987490528,2,4,black,Qxd5,False,white
4,5,141987490528,3,5,white,Nc3,True,white
...,...,...,...,...,...,...,...,...
61595,61596,123118274906,43,86,black,e3+,False,white
61596,61597,123118274906,44,87,white,Ke2,True,white
61597,61598,123118274906,44,88,black,exd2+,False,white
61598,61599,123118274906,45,89,white,Kxd2,True,white
61599,61600,123118274906,45,90,black,Qb2+,False,white

## Including rest of the needed columns to dataframe

In [30]:
# Load opening patterns data
df_openings = pd.read_sql("SELECT * FROM opening_patterns", engine)
df_openings.head()  # show first few rows

,id,pattern_name,moves_sequence,teoriat_color,frequency,wins,draws,losses,win_rate,avg_game_length,last_played,created_at
0,523,White: e4 exd5 Nc3,"[e4, exd5, Nc3, Qe2]",white,5,0,0,0,None,None,None,2025-08-17 15:57:38.793421
1,524,White: e4 Bc4 Qh5,"[e4, Bc4, Qh5, Qxf7#]",white,1,0,0,0,None,None,None,2025-08-17 15:57:38.793421
2,525,White: e4 Bc4 exd5,"[e4, Bc4, exd5, Bb5+]",white,15,0,0,0,None,None,None,2025-08-17 15:57:38.793421
3,526,White: e4 exd5 Nc3,"[e4, exd5, Nc3, d4]",white,2,0,0,0,None,None,None,2025-08-17 15:57:38.793421
4,527,White: e4 d4 d5,"[e4, d4, d5, c4]",white,2,0,0,0,None,None,None,2025-08-17 15:57:38.793421

In [31]:
# merging pattern_name and "moves_sequence" columns to main dataframe
df[["pattern_name", "moves_sequence"]] = df_openings[["pattern_name", "moves_sequence"]].reset_index(drop=True)
df.head()

,id,game_id,move_number,ply_number,player_color,move_san,is_teoriat_move,teoriat_color,pattern_name,moves_sequence
0,1,141987490528,1,1,white,e4,True,white,White: e4 exd5 Nc3,"[e4, exd5, Nc3, Qe2]"
1,2,141987490528,1,2,black,d5,False,white,White: e4 Bc4 Qh5,"[e4, Bc4, Qh5, Qxf7#]"
2,3,141987490528,2,3,white,exd5,True,white,White: e4 Bc4 exd5,"[e4, Bc4, exd5, Bb5+]"
3,4,141987490528,2,4,black,Qxd5,False,white,White: e4 exd5 Nc3,"[e4, exd5, Nc3, d4]"
4,5,141987490528,3,5,white,Nc3,True,white,White: e4 d4 d5,"[e4, d4, d5, c4]"

## Pre-processing the dataframe