# TEORIAT Chess Analysis
Analyze my chess games to build personalized engine.

In [4]:
# Setup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from tabulate import tabulate  

# Connect to database
engine = create_engine("postgresql+psycopg2://postgres:chess_engine@localhost/chess_data")
print("Connected to database!")

Connected to database!

Loading the data

In [5]:
# Load all your data
df = pd.read_sql("SELECT * FROM game_moves WHERE is_teoriat_move = true", engine)
df.head()

,id,game_id,move_number,ply_number,player_color,move_san,position_before,position_after,is_teoriat_move,teoriat_color,created_at
0,1,141987490528,1,1,white,e4,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR ...,True,white,2025-08-17 15:23:42.236746
1,3,141987490528,2,3,white,exd5,rnbqkbnr/ppp1pppp/8/3p4/4P3/8/PPPP1PPP/RNBQKBN...,rnbqkbnr/ppp1pppp/8/3P4/8/8/PPPP1PPP/RNBQKBNR ...,True,white,2025-08-17 15:23:42.236746
2,5,141987490528,3,5,white,Nc3,rnb1kbnr/ppp1pppp/8/3q4/8/8/PPPP1PPP/RNBQKBNR ...,rnb1kbnr/ppp1pppp/8/3q4/8/2N5/PPPP1PPP/R1BQKBN...,True,white,2025-08-17 15:23:42.236746
3,7,141987490528,4,7,white,Nf3,rnb1kbnr/ppp1pppp/8/q7/8/2N5/PPPP1PPP/R1BQKBNR...,rnb1kbnr/ppp1pppp/8/q7/8/2N2N2/PPPP1PPP/R1BQKB...,True,white,2025-08-17 15:23:42.236746
4,9,141987490528,5,9,white,b4,rnb1kbnr/pp2pppp/2p5/q7/8/2N2N2/PPPP1PPP/R1BQK...,rnb1kbnr/pp2pppp/2p5/q7/1P6/2N2N2/P1PP1PPP/R1B...,True,white,2025-08-17 15:23:42.236746

In [ ]:
# Drop unnecessary columns
columns_to_drop = ["position_before", "position_after", "created_at"]
df.drop(columns=columns_to_drop, inplace=True)

# Display the cleaned
df

,id,game_id,move_number,ply_number,player_color,move_san,is_teoriat_move,teoriat_color
0,1,141987490528,1,1,white,e4,True,white
1,3,141987490528,2,3,white,exd5,True,white
2,5,141987490528,3,5,white,Nc3,True,white
3,7,141987490528,4,7,white,Nf3,True,white
4,9,141987490528,5,9,white,b4,True,white
...,...,...,...,...,...,...,...,...
30801,61591,123118274906,41,81,white,Qb3+,True,white
30802,61593,123118274906,42,83,white,Qf3,True,white
30803,61595,123118274906,43,85,white,Qg2,True,white
30804,61597,123118274906,44,87,white,Ke2,True,white
30805,61599,123118274906,45,89,white,Kxd2,True,white

Next; Adding rest of the needed columns from games and opening tables