# Chess Neural Network

Building a neural network that learns to play chess based on my gameplay data.

## Goal
Train a move prediction model to create an AI that plays like me.

## Architecture
- **Input**: 768 numbers (chess position)
- **Output**: 4,096 numbers (possible moves)
- **Type**: Feedforward Neural Network
- **Layers**: 768 → 512 → 256 → 128 → 4,096

In [2]:
# Setup - Install required libraries
# pip install torch numpy pandas python-chess matplotlib scikit-learn

import torch
import torch.nn as nn
import numpy as np
import pandas as pd
import chess
import chess.pgn
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

print("Libraries loaded successfully!")
print(f"PyTorch version: {torch.__version__}")
print(f"Device: {'CUDA' if torch.cuda.is_available() else 'CPU'}")

Libraries loaded successfully!
PyTorch version: 2.2.2
Device: CPU

## Step 1: Load Chess Data

Load moves from csv file

In [15]:
df = pd.read_csv("/Users/riteshbhandari/Documents/GitHub/Chess-engine/bot/data-analysis/cleaned_data.csv")
df

,game_id,moves,num_moves,first_move
0,123118274906,"[('white', 'e4', True), ('black', 'e6', False)...",90,e4
1,123118510404,"[('white', 'd4', False), ('black', 'c5', True)...",141,d4
2,123118790014,"[('white', 'e4', False), ('black', 'e5', True)...",46,e4
3,123158939328,"[('white', 'e4', False), ('black', 'd5', True)...",88,e4
4,123160166430,"[('white', 'e4', True), ('black', 'e5', False)...",110,e4
...,...,...,...,...
995,148050205237,"[('white', 'g3', False), ('black', 'e5', True)...",124,g3
996,148051398173,"[('white', 'e4', True), ('black', 'e5', False)...",59,e4
997,148051404469,"[('white', 'g4', False), ('black', 'e5', True)...",68,g4
998,148052006631,"[('white', 'e4', True), ('black', 'd5', False)...",39,e4
999,782455185,"[('white', 'e4', False), ('black', 'c5', True)...",57,e4